conf/submitITR.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://incometaxindiaefiling.gov.in/itrservice/v_1_0" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:itrcmns="http://incometaxindiaefiling.gov.in/ws/ds/common/v_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://incometaxindiaefiling.gov.in/itrservice/v_1_0">
    <types>
        <xs:schema xmlns:itrException="http://incometaxindiaefiling.gov.in/ws/ds/ex/v_1_0" xmlns:authInfo="http://incometaxindiaefiling.gov.in/ws/ds/common/v_1_0" targetNamespace="http://incometaxindiaefiling.gov.in/itrservice/v_1_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="http://incometaxindiaefiling.gov.in/ws/ds/common/v_1_0" schemaLocation="https://incometaxindiaefiling.gov.in/e-FilingWS/xsd/DITWSCommon.xsd"/>
            <xs:import namespace="http://incometaxindiaefiling.gov.in/ws/ds/ex/v_1_0" schemaLocation="https://incometaxindiaefiling.gov.in/e-FilingWS/xsd/DITWSITRException.xsd"/>
            <xs:element name="ITRInvalidDocFaultException" type="itrException:ITRInvalidDocFaultException"/>
            <xs:element name="ITRCredentialFaultException" type="itrException:ITRCredentialFaultException"/>
            <xs:element name="ITRInvalidCertificateFaultException" type="itrException:ITRInvalidCertificateFaultException"/>
            <xs:element name="ITRServiceFaultException" type="itrException:ITRServiceFaultException"/>
            <xs:element name="ITRBusinessServiceFaultException" type="itrException:ITRBusinessServiceFaultException"/>
            <xs:element name="ITRFaultException" type="itrException:ITRFaultException"/>
        </xs:schema>
    </types>
    <message name="SubmitITRRequest">
        <part name="authInfo" element="itrcmns:DITWSAuthInfoEle"/>
        <part name="itrXMLFile" type="xs:hexBinary"/>
    </message>
    <message name="SubmitITRResponse">
        <part name="itrStatus" element="itrcmns:DITWSResponseEle"/>
    </message>
    <message name="ITRInvalidCertificateFaultException">
        <part name="itrInvalidCertificateFaultExcep" element="tns:ITRInvalidCertificateFaultException"/>
    </message>
    <message name="ITRCredentialFaultException">
        <part name="itrCredentialFaultExcep" element="tns:ITRCredentialFaultException"/>
    </message>
    <message name="ITRBusinessServiceFaultException">
        <part name="itrBusinessServiceFaultExcep" element="tns:ITRBusinessServiceFaultException"/>
    </message>
    <message name="ITRFaultException">
        <part name="itrFaultExcep" element="tns:ITRFaultException"/>
    </message>
    <message name="ITRInvalidDocFaultException">
        <part name="itrInvalidDocFaultExcep" element="tns:ITRInvalidDocFaultException"/>
    </message>
    <message name="ITRServiceFaultException">
        <part name="ITRServiceFaultExcep" element="tns:ITRServiceFaultException"/>
    </message>
    <portType name="ITRServicePort">
        <operation name="submitITR">
            <input message="tns:SubmitITRRequest"/>
            <output message="tns:SubmitITRResponse"/>
            <fault name="ITRInvalidCertificateFaultException" message="tns:ITRInvalidCertificateFaultException"/>
            <fault name="ITRCredentialFaultException" message="tns:ITRCredentialFaultException"/>
            <fault name="ITRBusinessServiceFaultException" message="tns:ITRBusinessServiceFaultException"/>
            <fault name="ITRFaultException" message="tns:ITRFaultException"/>
            <fault name="ITRInvalidDocFaultException" message="tns:ITRInvalidDocFaultException"/>
            <fault name="ITRServiceFaultException" message="tns:ITRServiceFaultException"/>
        </operation>
    </portType>
    <binding name="ITRServiceSoapBinding" type="tns:ITRServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="submitITR">
            <soap:operation soapAction="http://incometaxindiaefiling.gov.in/submitITReturn"/>
            <input>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body use="literal" parts="authInfo"/>
                    </mime:part>
                    <mime:part>
                        <mime:content part="itrXMLFile" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </input>
            <output>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:body use="literal" parts="itrStatus"/>
                    </mime:part>
                </mime:multipartRelated>
            </output>
            <fault name="ITRInvalidCertificateFaultException">
                <soap:fault name="ITRInvalidCertificateFaultException" use="literal"/>
            </fault>
            <fault name="ITRCredentialFaultException">
                <soap:fault name="ITRCredentialFaultException" use="literal"/>
            </fault>
            <fault name="ITRBusinessServiceFaultException">
                <soap:fault name="ITRBusinessServiceFaultException" use="literal"/>
            </fault>
            <fault name="ITRFaultException">
                <soap:fault name="ITRFaultException" use="literal"/>
            </fault>
            <fault name="ITRInvalidDocFaultException">
                <soap:fault name="ITRInvalidDocFaultException" use="literal"/>
            </fault>
            <fault name="ITRServiceFaultException">
                <soap:fault name="ITRServiceFaultException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ITRService">
        <port name="ITRServiceSoapHttpPort" binding="tns:ITRServiceSoapBinding">
            <soap:address location="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws"/>
        </port>
    </service>
</definitions>