src/com/nextleap/itr/webservice/getITRV.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://incometaxindiaefiling.gov.in/itrvservice/v_1_0" xmlns:itrvcmns="http://incometaxindiaefiling.gov.in/ws/ds/common/v_1_0" xmlns:itrvns="http://incometaxindiaefiling.gov.in/ws/ds/itrv/v_1_0" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:itrvexcepns="http://incometaxindiaefiling.gov.in/ws/ds/ex/v_1_0" targetNamespace="http://incometaxindiaefiling.gov.in/itrvservice/v_1_0">
    <types>
        <xs:schema>
            <xs:import namespace="http://incometaxindiaefiling.gov.in/ws/ds/common/v_1_0" schemaLocation="https://incometaxindiaefiling.gov.in/e-FilingWS/xsd/DITWSCommon.xsd"/>
            <xs:import namespace="http://incometaxindiaefiling.gov.in/ws/ds/itrv/v_1_0" schemaLocation="https://incometaxindiaefiling.gov.in/e-FilingWS/xsd/DITWSITRV.xsd"/>
            <xs:import namespace="http://incometaxindiaefiling.gov.in/ws/ds/ex/v_1_0" schemaLocation="https://incometaxindiaefiling.gov.in/e-FilingWS/xsd/DITWSITRVException.xsd"/>
        </xs:schema>
    </types>
    <message name="getITRVByAckNoRequest">
        <part name="itrvByAckNoRequest" element="itrvns:itrvAckNoRequestEle"/>
    </message>
    <message name="getITRVResponse">
        <part name="itrvResponse" element="itrvcmns:DITWSResponseEle"/>
    </message>
    <message name="getITRVServiceFaultException">
        <part name="itrvServiceFaultException" element="itrvexcepns:itrvServiceFaultException"/>
    </message>
    <message name="getITRVInvalidCertificateFaultException">
        <part name="itrvInvalidCertificateFaultException" element="itrvexcepns:itrvInvalidCertificateFaultException"/>
    </message>
    <message name="getITRVCredentialFaultException">
        <part name="itrvCredentialFaultException" element="itrvexcepns:itrvCredentialFaultException"/>
    </message>
    <message name="getITRVByTokenNoRequest">
        <part name="itrvByTokenNoRequest" element="itrvns:itrvTokenNoRequestEle"/>
    </message>
    <portType name="ITRVServicePortType">
        <operation name="getITRVByAckNo">
            <input message="tns:getITRVByAckNoRequest"/>
            <output message="tns:getITRVResponse"/>
            <fault name="getITRVServiceFaultException" message="tns:getITRVServiceFaultException"/>
            <fault name="getITRVInvalidCertificateFaultException" message="tns:getITRVInvalidCertificateFaultException"/>
            <fault name="getITRVCredentialFaultException" message="tns:getITRVCredentialFaultException"/>
        </operation>
        <operation name="getITRVByTokenNo">
            <input message="tns:getITRVByTokenNoRequest"/>
            <output message="tns:getITRVResponse"/>
            <fault name="getITRVServiceFaultException" message="tns:getITRVServiceFaultException"/>
            <fault name="getITRVInvalidCertificateFaultException" message="tns:getITRVInvalidCertificateFaultException"/>
            <fault name="getITRVCredentialFaultException" message="tns:getITRVCredentialFaultException"/>
        </operation>
    </portType>
    <binding name="ITRVServiceBinding" type="tns:ITRVServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getITRVByAckNo">
            <soap:operation style="document" soapAction="http://incometaxindiaefiling.gov.in/getITRV"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getITRVServiceFaultException">
                <soap:fault name="getITRVServiceFaultException" use="literal"/>
            </fault>
            <fault name="getITRVInvalidCertificateFaultException">
                <soap:fault name="getITRVInvalidCertificateFaultException" use="literal"/>
            </fault>
            <fault name="getITRVCredentialFaultException">
                <soap:fault name="getITRVCredentialFaultException" use="literal"/>
            </fault>
        </operation>
        <operation name="getITRVByTokenNo">
            <soap:operation style="document" soapAction="http://incometaxindiaefiling.gov.in/getITRV"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="getITRVServiceFaultException">
                <soap:fault name="getITRVServiceFaultException" use="literal"/>
            </fault>
            <fault name="getITRVInvalidCertificateFaultException">
                <soap:fault name="getITRVInvalidCertificateFaultException" use="literal"/>
            </fault>
            <fault name="getITRVCredentialFaultException">
                <soap:fault name="getITRVCredentialFaultException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ITRVService">
        <port name="ITRVServicePort" binding="tns:ITRVServiceBinding">
            <soap:address location="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws"/>
        </port>
    </service>
</definitions>